<!-- Sidebar -->
<div id="sidebar">
  <div class="inner">

    <!-- Search -->
      <section id="search" class="alt" hidden>
        <form method="post" action="#">
          <input type="text" name="query" id="query" placeholder="Search" />
        </form>
      </section>

    <!-- Menu -->
      <nav id="menu">
        <header class="major">
          <h2>Menu</h2>
        </header>
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li>
            <span class="opener">Gallery</span>
            <ul>
              <li><a href="#">Photo Gallery</a></li>
              <li><a href="#">Video Gallery</a></li>
            </ul>
          </li>
          <li><a href="#">Our faculties</a></li>
          <li><a href="#">Material</a></li>
          <li><a href="#">Current Batches</a></li>
          <li><a href="#">Notice</a></li>
          <li><a href="#">Results</a></li>
        </ul>
      </nav>

    <!-- Section -->
    <!--
      <section>
        <header class="major">
          <h2>Star Students</h2>
        </header>
        <div class="mini-posts">
          <article>
            <a href="#" class="image"><img src="../../../assets/images/pic07.jpg" alt="" /></a>
            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
          </article>
          <article>
            <a href="#" class="image"><img src="../../../assets/images/pic08.jpg" alt="" /></a>
            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
          </article>
          <article>
            <a href="#" class="image"><img src="../../../assets/images/pic09.jpg" alt="" /></a>
            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
          </article>
        </div>
        <ul class="actions">
          <li><a href="#" class="button">More</a></li>
        </ul>
      </section>
      -->
    <!-- Section -->
      <section>
        <header class="major">
          <h2>Get in touch</h2>
        </header>
        <p>Our support Hotline is available to contact from
            Monday-Sunday: 9 am to 9 pm.</p>
        <ul class="contact">
          <li class="fa-envelope-o"><a href="#">akhil_sharma2011@rediffmail.com</a></li>
          <li class="fa-whatsapp">+91-7597272726</li>
          <li class="fa-mobile">+91-8619546623</li>
          <li class="fa-phone">(0145)-2660666</li>
          <li class="fa-home">532/20 Angira Nagar <br />
          c/o Fashion beauty Parlor <br/>
          Ajmer, Rajasthan(305001)
        </li>
        </ul>
      </section>
