
<div id="wrapper">

  <!-- Main -->
    <div id="main">
      <div class="inner">

        <!-- Header -->
          <header id="header">
            <a href="#" class="logo" >
              <img src="../../../assets/images/logo.png" style="height: 150px;width: 150px">
                   <div style="margin-left: 5%">
                    <h2><strong style="color:rgb(239, 39, 51);">A Square </strong></h2>      
                    <h2><strong style="color:rgb(239, 39, 51);">A SYMBOL OF SUCCESS</strong></h2>
                  </div>
                  </a>

            <ul class="icons">
              <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
              <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
            </ul>
          </header>

        <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header>
                <h1>SUCCESS STORY<br />
                </h1>
                <p>An honest effort that started with some students <br>
                  The achievement of 99% result represents 
                  its best management in this short period. 
                </p>
              </header>
              <p>Evolved from the system having trust of more than 1000s of students.
                 A system which has helped students score 
                 high marks in Board Exams without making them 
                 compromise on their other academic needs and aspirations</p>
              
            </div>
            <span class="image object">
              <img src="../../../assets/images/akhil.jpg" alt="" />
            </span>
          </section>

        <!-- Section -->
          <section>
            <header class="major">
              <h2>OUR AIM</h2>
            </header>
            <div class="features">
              <article>
                <span class="icon fa fa-book"></span>
                <div class="content">
                  <h3>Simple Study Material</h3>
                  <p>We provide the Study Material & Test Series
                      for NCERT XI/XII 
                      Nationwide which is easily understand by the student.
                      </p>
                </div>
              </article>
              <article>
                <span class="icon fa-paper-plane"></span>
                <div class="content">
                  <h3>Better Learning</h3>
                  <p>A system which has helped students score high marks 
                    in Board Exams without making them compromise 
                    on their other academic needs and aspirations.</p>
                </div>
              </article>
              <article>
                <span class="icon fa fa-graduation-cap"></span>
                <div class="content">
                  <h3>Smart classes</h3>
                  <p>We provide Smart Classes for better presentation.
                    Smart classes are conducted by a teacher using a viewing screen that 
                    is attached to the projector. 
                    Students will assimilate the audio-visual 
                    information that is projected on the screen and learn 
                    about the topic</p>
                </div>
              </article>
              <article>
                <span class="icon fa-signal"></span>
                <div class="content">
                  <h3>Star faculties</h3>
                  <p> Our teachers are experienced in various fields, 
                    and while some have taught at schools and universities in India. 
                    They bring their experience to the classroom to give the 
                    students an ambience of the contemporary world, 
                    counsel them about the careers they would like to pursue, 
                    and equip them for the challenges of the 21st century.</p>
                </div>
              </article>
            </div>
          </section>

        <!-- Section -->
          <section>
            <header class="major">
                <header class="major">
              <h2>CLASSES OFFERED</h2>
              </header>
              <H3><strong>We offer a Number of Different classes which help students 
                to prepare for school exams as well as the 
                board exams and give them an edge.</strong></H3>
            </header>
           
            <div class="posts">
              <article>
                <a href="#" class="image"><img src="../../../assets/images/physics.jpg" alt="" /></a>
                <h3>Physics</h3>
                <p>Advances in physics often enable advances in new technologies. 
                  For example, advances in the understanding of electromagnetism and nuclear 
                  physics led directly to the development of new products that have 
                  dramatically transformed modern-day society, 
                  such as television, computers, 
                  domestic appliances.<br>
                   
                  Physics is the branch of science concerned 
                  with the nature and properties of matter and energy. 
                  The subject matter of physics includes mechanics, 
                  heat, light and other radiation, sound, electricity,
                   magnetism, and the structure of atoms.</p>
                
              </article>
              <article>
                <a href="#" class="image"><img src="../../../assets/images/chemistry.jpg" alt="" /></a>
                <h3>Chemistry</h3>
                <p>Chemistry is the branch of science concerned with the substances of 
                  which matter is composed, 
                  and the use of such reactions to form new substances.
                  The history of chemistry spans a period from very 
                  old times to the present. Since several millennia BC, 
                  civilizations were using technologies that would eventually 
                  form the basis of the various branches of chemistry. 
                  Examples include extracting metals from ores, 
                  making pottery and glazes, fermenting beer and wine, 
                  extracting chemicals from plants for medicine and perfume, 
                  rendering fat into soap,
                   making glass, and making alloys like bronze. 
                </p>
                
              </article>
              <article>
                <a href="#" class="image"><img src="../../../assets/images/maths.jpg" alt="" /></a>
                <h3>Mathematics</h3>
                <p> Mathematics is the science that deals with the logic of shape, 
                  quantity and arrangement. 
                  Math is all around us, in everything we do....<br> 
                  The more complex a society, 
                  the more complex the mathematical needs.
                  Mathematics is essential in many fields, 
                  including natural science, engineering, medicine, finance and 
                  the social sciences. Applied mathematics has led 
                  to entirely new mathematical disciplines, 
                  such as statistics and game theory. 
                  Mathematicians engage in pure mathematics, 
                  or mathematics for its own sake,
                   without having any application in mind. 
                </p>
                
              </article>
              <article>
                <a href="#" class="image"><img src="../../../assets/images/bio.jpg" alt="" /></a>
                <h3>Biology</h3>
                <p>Biology is the natural science that studies life 
                  and living organisms, including their physical structure, chemical processes, 
                  molecular interactions, physiological mechanisms, development and evolution.
                  there are certain unifying concepts that consolidate it into a single, 
                  coherent field. Biology recognizes the cell as the basic unit of life,
                   genes as the basic unit of heredity, 
                   and evolution as the engine that propels the creation and extinction of species.<br> 
                   Living organisms are open systems that survive by transforming energy and 
                   decreasing their local entropy
                   to maintain a stable and vital condition defined as homeostasis
                </p>
                
              </article>
              <article>
                  <a href="#" class="image"><img src="../../../assets/images/Commerce.png" alt="" /></a>
                  <h3>Commerce</h3>
                  <p>Commerce relates to "the exchange of goods and services, 
                    especially on a large scale <br>
                    Today commerce includes as a subset a complex system of 
                    companies which try to maximize their profits by offering products
                     and services to the market  
                    at the lowest production cost. <br>
                    A system of international trade has helped to develop the world economy,
                    but in combination with bilateral or multilateral agreements to 
                    lower tariffs or to achieve free trade, 
                    has sometimes harmed third-world markets for local products.
                  </p>
                  
                </article>
              <article>
                <a href="#" class="image"><img src="../../../assets/images/arts.png" alt="" /></a>
                <h3>Sociology</h3>
                <p>Sociology is the scientific study of society, 
                  patterns of social relationships, social interaction, and culture.
                   It is a social science that uses various methods of 
                   empirical investigation and critical analysis to develop a 
                   body of knowledge about social order, 
                   acceptance, and change or social evolution. 
                   Many sociologists aim to conduct research that may be 
                   applied directly to social policy and welfare, 
                   while others focus primarily on refining the theoretical 
                   understanding of social processes. 
                   It aims to make students and people all around the world to
                  think about everything and about the brain and 
                  structure of the human and to help them improve their knowledge.</p>
               
              </article>
            </div>
          </section>

      </div>
    </div>
